__pycache__/
*.py[cod]

.pytest_cache/

.env
venv/

models/*.pth
models/*.bin
models/*.onnx
temp/*
*.tmp

.idea/
.vscode/

.ruff_cache/
.black

*.png
*.jpg
output.png

vilt-model/
*.bin
*.safetensors
